/* Document
   ========================================================================== */

html {
	font-family: sans-serif;
	/* 1 */
	line-height: 1.15;
	/* 3 */

	-webkit-text-size-adjust: 100%;
	/* 2 */
	    -ms-text-size-adjust: 100%;
	/* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
	margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;

	margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
	/* 1 */
	display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
	margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	/* 1 */
	overflow: visible;

	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
	background-color: transparent;
	/* 1 */

	-webkit-text-decoration-skip: objects;
	/* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
	outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;

	border-bottom: none;
	/* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
	font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
	font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
	color: #000000;
	background-color: #ffff00;
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;

	position: relative;

	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
	display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
	display: none;

	height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
	border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */

	margin: 0;
	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	/* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;

	border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;

	border: 1px solid #c0c0c0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	/* 2 */
	display: table;

	box-sizing: border-box;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */

	white-space: normal;
	/* 1 */

	color: inherit;
	/* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	display: inline-block;
	/* 1 */

	vertical-align: baseline;
	/* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	/* 1 */
	outline-offset: -2px;

	-webkit-appearance: textfield;
	/* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	/* 1 */
	font: inherit;

	-webkit-appearance: button;
	/* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
	display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
	display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
	display: none;
}

body {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 30px;
}

ul {
	list-style: none;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:focus {
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

p,
h1,
h2,
h3,
h4,
ul,
figure,
blockquote {
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;

	visibility: hidden;
}

@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-style: normal;

	src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	font-style: normal;

	src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;

	src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 600;
	font-style: normal;

	src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff");
}

.btn {
	display: block;

	cursor: pointer;
}

.btn:focus {
	outline: none;
}

.btn--square {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;

	padding-top: 17px;
	padding-bottom: 16px;

	text-transform: uppercase;

	color: #ffffff;
	border-style: none;
	background-color: #2aab6d;
}

.btn--square:hover {
	background-color: #1c9b5e;
}

.btn--square:active {
	color: rgba(255, 255, 255, 0.3);
}

.btn--square:focus {
	border-style: none;
	outline: none;
}

.btn--square:disabled {
	background-color: #e5e5e5;
}

.btn--round {
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;

	padding-top: 15px;
	padding-bottom: 16px;

	border-width: 3px;
	border-style: solid;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
}

.btn--white {
	color: #ffffff;
	border-color: #ffffff;
}

.btn--white:hover {
	color: #d22856;
	background-color: #ffffff;
}

.btn--white:active {
	color: rgba(210, 40, 86, 0.3);
}

.btn--pink {
	color: #d22856;
	border-color: #d22856;
	background-color: transparent;
}

.btn--pink:hover {
	color: #ffffff;
	background-color: #d22856;
}

.btn--pink:active {
	color: rgba(255, 255, 255, 0.3);
}

.btn--grey {
	color: #dddfe0;
	border-color: #dddfe0;
	background-color: transparent;
}

.btn--grey:hover {
	color: rgba(40, 54, 69, 0.3);
	border-color: #b5b9be;
}

.btn--grey:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #b5b9be;
}

.page-header {
	position: relative;
	z-index: 1000;

	margin-bottom: -66px;

	border-bottom: 1px solid transparent;
	background-color: rgba(0, 0, 0, 0.3);
}

.page-header__container {
	display: -ms-flexbox;
	display: flex;

	max-width: 280px;
	min-height: 66px;
	margin: 0 auto;

	align-items: center;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.page-header--toggled {
	border-color: #000000;
	background-color: #1d2632;
}

.hamburger-menu {
	height: 24px;

	cursor: pointer;
}

.hamburger-menu__icon--ham {
	width: 50px;
	height: 24px;

	fill: #ffffff;
}

.hamburger-menu__icon--cross {
	width: 24px;
	height: 23px;

	fill: #ffffff;
}

.hamburger-menu__icon--hidden {
	display: none;
}

.hamburger-menu__icon:hover {
	fill: #d22856;
}

.hamburger-menu__icon:active {
	opacity: 0.3;
}

.menu {
	position: absolute;
	top: 101%;
	left: 0;

	display: none;

	width: 100%;
}

.menu--open {
	display: block;
}

.menu__list {
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	-ms-flex-direction: column;
}

.menu__item {
	padding-top: 15px;
	padding-bottom: 15px;

	text-align: center;

	border-top: 1px solid #485461;
	border-bottom: 1px solid #000000;
	background-color: #1d2632;
}

.menu__link {
	font-weight: bold;
	line-height: 32px;

	text-transform: uppercase;

	color: #ffffff;
}

.menu__link:hover {
	color: #d22856;
}

.menu__link:active {
	opacity: 0.3;
}

.logo {
	height: 22px;
}

.logo:active {
	opacity: 0.3;
}

.logo__icon {
	position: relative;

	display: none;

	width: 147px;
	height: 40px;
	margin-top: -9px;
}

.logo__icon--mobile {
	display: block;

	width: 75px;
	height: 22px;
	margin-top: 0;
}

.logo__icon--footer_t {
	display: block;
}

.promo {
	font-weight: 300;

	text-align: center;

	color: #ffffff;
	background-color: #1d2631;
	background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: 40% 172px, top center;
	background-size: 258px auto, auto 458px;
}

.promo__container {
	max-width: 280px;
	margin: 0 auto;
	padding-top: 458px;
}

.store__container {
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	max-width: 300px;
	padding-top: 28px;
	padding-bottom: 30px;

	-ms-flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.store__title {
	font-size: 40px;
	font-weight: 300;
	line-height: 48px;

	display: none;

	padding-right: 15%;
	padding-bottom: 40px;
	padding-left: 15%;
}

.store__list {
	display: -ms-flexbox;
	display: flex;

	padding-top: 32px;
	padding-right: 32px;
	padding-bottom: 13px;
	padding-left: 42px;

	align-items: center;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.store__link {
	display: block;
}

.store__link--itunes {
	width: 55px;
	height: 65px;

	background: url("../img/icon-sprite.svg") no-repeat;
	background-position: 49.16968178866315% 52.60770975056689%;
	background-size: 165px 195px;
}

.store__link--gplay {
	width: 54px;
	height: 59px;

	background: url("../img/icon-sprite.svg") no-repeat;
	background-position: 0 0;
	background-size: 162px 177px;
}

.store__link--winstore {
	width: 62px;
	height: 58px;

	background: url("../img/icon-sprite.svg") no-repeat;
	background-position: 99.92732558139535% 99.99200063994881%;
	background-size: 186px 174px;
}

.store__text {
	font-size: 14px;
	line-height: 24px;
}

.advantages__inner {
	background-color: #f2f2f2;
}

.advantages__header {
	position: relative;

	padding-top: 40px;
	padding-bottom: 31px;

	background-color: #ffffff;
}

.advantages__header::after {
	position: absolute;
	top: 100%;

	display: block;

	width: 100%;
	height: 31px;

	content: "";

	background-image: url("../img/bg-triangle-white.svg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% 31px;
}

.advantages__heading {
	font-size: 24px;
	font-weight: 300;

	max-width: 280px;
	margin: 0 auto;
	margin-bottom: 1.1em;

	text-align: center;
}

.advantages__heading:last-child {
	margin-bottom: 0;
}

.advantages__list {
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	max-width: 280px;
	margin: 0 auto;
	padding-top: 82px;

	-ms-flex-direction: column;
}

.advantages__item {
	position: relative;

	overflow: hidden;

	margin-bottom: 32px;

	text-align: center;
}

.advantages__item:last-child {
	margin-bottom: 0;
}

.advantages__item--friend {
	padding-bottom: 319px;
}

.advantages__pic {
	display: none;
}

.advantages__pic--friend {
	position: absolute;
	bottom: -42px;
	left: 50%;

	display: block;

	transform: translateX(-50%);
}

.advantages__title {
	font-size: 18px;
	line-height: 24px;

	margin-bottom: 11px;
}

.advantages__title--diagram {
	font-size: 30px;
	line-height: 36px;

	padding-top: 10px;
	padding-left: 310px;
}

.advantages__description {
	font-size: 14px;
	line-height: 24px;
}

.advantages__description--diagram {
	padding-bottom: 5px;
	padding-left: 310px;
}

.advantages__diagram {
	position: relative;

	display: none;

	max-width: 280px;
	margin: 0 auto;
	padding-top: 87px;
	padding-bottom: 110px;

	background-color: #ffffff;
}

.advantages__diagram::before {
	font-size: 96px;
	font-weight: bold;

	position: absolute;
	top: 58px;
	left: 0;

	display: -ms-flexbox;
	display: flex;

	width: 240px;
	height: 305px;

	content: "24";

	color: #d22856;
	background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: 50% 54%, center 0%;
	background-size: 203px 204px, 240px 277px;

	align-items: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.advantages__more {
	font-size: 14px;
	line-height: 24px;

	padding-left: 310px;

	text-decoration: underline;

	color: #d22856;
}

.slider__input {
	display: none;
}

.slider__toggles {
	font-size: 0;

	text-align: center;
}

.slider__toggle {
	display: inline-block;

	box-sizing: initial;
	width: 6px;
	height: 6px;
	margin-right: 19px;

	cursor: pointer;
	vertical-align: middle;

	border-radius: 50%;
	background: #bec2c7;
}

.slider__toggle:last-child {
	margin-right: 0;
}

.slider__toggle--active {
	border: 3px solid #283645;
	background-color: #ffffff;
}

.reviews {
	position: relative;
}

.reviews::after {
	position: absolute;
	top: 100%;

	display: block;

	width: 100%;
	height: 23px;

	content: "";

	background-image: url("../img/bg-triangle-white.svg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% 23px;
}

.reviews__container {
	max-width: 280px;
	margin: 0 auto;
	padding-top: 43px;
	padding-bottom: 34px;
}

.reviews__items {
	margin-bottom: 23px;
}

.reviews__item {
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column-reverse;

	text-align: center;

	-ms-flex-direction: column-reverse;
}

.reviews__text {
	font-size: 14px;

	quotes: "\00ab" "\00bb";

	color: #283645;
}

.reviews__author {
	font-weight: bold;
	font-style: normal;

	padding-bottom: 12px;
}

.reviews__author-info {
	display: none;
}

.reviews__controls {
	display: none;
}

.price {
	overflow: hidden;

	padding-top: 90px;
	padding-bottom: 38px;

	background-color: #f2f2f2;
}

.price__table {
	position: relative;
	left: 50%;

	width: 833px;
	margin: 0 auto;
	margin-bottom: 31px;

	border-collapse: collapse;

	transform: translateX(-50%);
}

.price__header {
	font-size: 18px;

	position: relative;

	overflow: hidden;

	padding-top: 17px;
	padding-bottom: 18px;

	text-align: center;
	text-transform: uppercase;

	color: #ffffff;
	border-right: 2px solid #f2f2f2;
	background-color: #283645;
}

.price__header:last-child {
	border-right: 2px solid #283645;
}

.price__header:nth-child(2) {
	border-left: 2px solid #283645;
}

.price__header--empty {
	display: none;

	background-color: transparent;
}

.price__header--hot::before {
	font-size: 14px;
	font-weight: 400;

	position: absolute;
	top: 12px;
	left: -32px;

	display: block;

	width: 110px;
	height: 30px;

	content: "Хит";
	transform: rotate(-45deg);
	text-align: center;
	text-transform: uppercase;

	background-color: #d22856;
}

.price__cost {
	font-size: 24px;
	font-weight: 300;
}

.price__option {
	font-size: 14px;

	padding-top: 15px;
	padding-bottom: 14px;
	padding-left: 22px;

	color: #283645;
	border: 2px solid #e5e5e5;
	background-color: #ffffff;
}

.price__option--mobile {
	display: none;
}

.price__option--inner {
	position: relative;

	text-transform: uppercase;

	border-top-style: none;
}

.price__option--check::before {
	position: absolute;
	top: 50%;
	right: 16px;

	display: block;

	width: 31px;
	height: 21px;

	content: "";
	transform: translateY(-50%);

	background-image: url("../img/icon-yes.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.price__option--uncheck::before {
	position: absolute;
	top: 47%;
	right: 18px;

	display: block;

	width: 27px;
	height: 26px;

	content: "";
	transform: translateY(-50%);

	background-image: url("../img/icon-no.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.contacts {
	text-align: center;
}

.contacts__container {
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	max-width: 280px;
	margin: 0 auto;
	padding-top: 42px;
	padding-bottom: 18px;

	-ms-flex-direction: column;
}

.contacts__heading {
	font-size: 24px;
	font-weight: 300;

	width: 100%;
	margin-bottom: 30px;

	color: #283645;
}

.contacts__item {
	margin-bottom: 18px;
}

.contacts__item:last-child {
	margin-bottom: 0;
}

.contacts__title {
	font-weight: bold;

	color: #283645;
}

.contacts__text {
	font-size: 24px;
	font-weight: 300;
	line-height: 26px;

	color: #d22856;
}

.map {
	position: relative;

	width: 100%;
}

.map::before {
	position: absolute;
	z-index: 1000;
	top: 0;

	display: block;

	width: 100%;
	height: 31px;

	content: "";

	background-image: url("../img/bg-triangle-white-footer.svg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% 31px;
}

.map__canvas {
	min-height: 200px;
}

.page-footer {
	display: none;
}

.page-footer__container {
	display: -ms-flexbox;
	display: flex;

	max-width: 280px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 37px;

	align-items: center;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.page-footer__container--form {
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.page-footer--form {
	display: block;
}

.social-btn {
	display: -ms-flexbox;
	display: flex;

	margin-top: 49px;
}

.social-btn__icon {
	font-size: 0;

	display: block;

	width: 51px;
	height: 51px;

	border: 3px solid #e9ebec;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 40% 40%;
}

.social-btn__icon:hover {
	border-color: #283645;
}

.social-btn__icon:active {
	opacity: 0.3;
}

.social-btn__icon--tw {
	background-image: url("../img/icon-twitter.svg");
}

.social-btn__icon--fb {
	margin-right: 12px;
	margin-left: 12px;

	background-image: url("../img/icon-facebook.svg");
}

.social-btn__icon--yt {
	background-image: url("../img/icon-youtube.svg");
}

.copyright {
	font-size: 14px;
	line-height: 18px;

	display: -ms-flexbox;
	display: flex;

	margin-top: 48px;

	color: #283645;

	align-items: center;
	-ms-flex-align: center;
}

.copyright__icon {
	font-size: 0;

	display: block;

	width: 27px;
	height: 34px;
	margin-left: 15px;

	background-image: url("../img/logo-htmlacademy.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.copyright__icon:hover {
	background-image: url("../img/logo-htmlacademy-h.svg");
}

.copyright__icon:active {
	opacity: 0.3;
}

.contest-form {
	position: relative;
}

.contest-form:before {
	font-size: 14px;

	position: absolute;
	bottom: 24px;
	left: 20%;

	display: block;

	content: "*";

	color: #d22856;
}

.contest-form:after {
	font-size: 14px;

	position: absolute;
	bottom: 24px;
	left: 24%;

	display: block;

	content: " — обязательные поля";
	text-transform: uppercase;

	color: #283645;
}

.contest-form__container {
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	padding-bottom: 89px;

	-ms-flex-direction: column;
}

.contest-form__heading {
	max-width: 280px;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 4px;

	text-align: center;
}

.contest-form__info {
	font-size: 14px;
}

.contest-form__btn {
	width: 280px;
	margin: 0 auto;
}

.contest-form__group {
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	padding-right: 3.65%;
	padding-left: 3.85%;

	-ms-flex-direction: column;
}

.contest-form__group--border {
	padding-top: 0;
	padding-bottom: 0;

	border-style: none;
}

.contest-form__group--name {
	padding-bottom: 27px;
}

.contest-form__group--contact {
	padding-top: 30px;
	padding-bottom: 36px;
}

.contest-form__group--achiv {
	background-color: #f2f2f2;
}

.contest-form__group--app {
	background-color: #f2f2f2;
}

.contest-form__label {
	position: relative;

	padding-left: 67px;

	color: #283645;
}

.contest-form__label--pink {
	font-size: 14px;

	padding-bottom: 5px;
	padding-left: 23px;

	text-transform: uppercase;

	color: #d22856;
}

.contest-form__label--radio {
	margin-bottom: 45px;
}

.contest-form__label--radio::before {
	position: absolute;
	top: 50%;
	left: -3px;

	display: block;

	width: 35px;
	height: 35px;

	content: "";
	transform: translateY(-50%);

	border: 2px solid #e5e5e5;
	border-radius: 50%;
	background-color: #ffffff;
}

.contest-form__label--radio:hover::before {
	border-color: #283645;
}

.contest-form__label--radio:active::before {
	border-color: #d22856;
}

.contest-form__label--checkbox {
	margin-bottom: 52px;
}

.contest-form__label--checkbox::before {
	position: absolute;
	top: 50%;
	left: -3px;

	display: block;

	width: 35px;
	height: 35px;

	content: "";
	transform: translateY(-50%);

	border: 2px solid #e5e5e5;
	background-color: #ffffff;
}

.contest-form__label--checkbox:hover::before {
	border-color: #283645;
}

.contest-form__label--checkbox:active::before {
	border-color: #d22856;
}

.contest-form__input-wrapper {
	margin-bottom: 17px;
}

.contest-form__input {
	font-family: inherit;
	line-height: inherit;

	width: 100%;
	padding-top: 14px;
	padding-right: 65px;
	padding-bottom: 15px;
	padding-left: 20px;

	border: 2px solid #e5e5e5;
}

.contest-form__input::-webkit-input-placeholder {
	font-family: inherit;
	line-height: inherit;

	color: #283645;
}

.contest-form__input:hover {
	border-color: #283645;
}

.contest-form__input:focus {
	border-color: #d22856;
	outline: none;
}

.contest-form__legend {
	font-size: 14px;

	display: none;

	padding-right: 25px;
	padding-left: 25px;

	text-align: center;
	text-transform: uppercase;

	color: #d22856;
}

.contest-form__title {
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;

	padding-top: 36px;
	padding-bottom: 43px;

	text-align: center;
	text-transform: uppercase;

	color: #d22856;
}

.contest-form__title--emotions {
	padding-top: 56px;
	padding-bottom: 18px;
}

.contest-form__radio {
	display: none;
}

.contest-form__checkbox {
	display: none;
}

.contest-form__textarea {
	line-height: inherit;

	width: 100%;
	height: 200px;
	margin-bottom: 47px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 17px;
	padding-left: 20px;

	resize: none;

	border: 2px solid #e5e5e5;
}

.contest-form__textarea::-webkit-input-placeholder {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;

	text-align: center;

	color: #283645;
}

.contest-form__textarea:hover {
	border-color: #283645;
}

.contest-form__textarea:focus {
	border-color: #d22856;
	outline: none;
}

.contest-form__checkbox:checked + .contest-form__label--checkbox::after {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 6px;

	display: block;

	width: 20px;
	height: 8px;

	content: "";
	transform: translateY(-80%) rotate(-45deg);

	border: 2px solid #d22856;
	border-top-style: none;
	border-right-style: none;
}

.contest-form__radio:checked + .contest-form__label--radio::after {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 9px;

	display: block;

	width: 15px;
	height: 15px;

	content: "";
	transform: translateY(-50%);

	border-radius: 50%;
	background-color: #d22856;
}

.intro {
	background-color: #1d2631;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto 450px;
}

.intro__container {
	display: -ms-flexbox;
	display: flex;

	max-width: 280px;
	min-height: 236px;
	margin: 0 auto;
	padding-top: 40px;

	align-items: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.intro__heading {
	font-size: 24px;
	font-weight: 300;

	text-align: center;

	color: #ffffff;
}

.photos__heading {
	max-width: 280px;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 49px;
}

.photos__footing {
	max-width: 280px;
	margin: 0 auto;
	padding-top: 21px;
	padding-bottom: 42px;
}

.photos__title {
	font-size: 14px;

	text-align: center;

	color: #283645;
}

.photos__item {
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	margin-bottom: 20px;
	padding-bottom: 21px;

	background-color: #f2f2f2;

	-ms-flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.photos__item--full {
	position: relative;

	width: 100%;
	padding-bottom: 0;

	background-color: #ffffff;
}

.photos__item--full:before {
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;

	position: absolute;
	top: 0;
	right: 10px;

	display: block;

	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 6px;
	padding-left: 20px;

	content: "Панорaма дня";
	text-transform: uppercase;

	color: #ffffff;
	background-color: #d22856;
}

.photos__img {
	display: block;

	width: 100%;
	height: auto;
	margin: 0;
}

.photos__description {
	font-size: 14px;
	line-height: 24px;

	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	padding-right: 18px;
	padding-left: 18px;

	color: #283645;

	-ms-flex-direction: column;
	flex-grow: 1;
	-ms-flex-positive: 1;
}

.photos__description--full {
	max-width: 280px;
	margin: 0 auto;
	padding-bottom: 21px;

	background-color: #f2f2f2;
}

.photos__author {
	font-weight: bold;
	font-style: normal;

	margin-top: 18px;
}

.photos__time {
	font-size: 12px;
	font-weight: 300;

	margin-left: 4px;

	text-transform: uppercase;
}

.photos__text {
	flex-grow: 1;
	-ms-flex-positive: 1;
}

.photos__like {
	position: relative;

	padding-top: 9px;
	padding-left: 32px;
}

.photos__like:before {
	position: absolute;
	top: 67%;
	left: 0;

	display: block;

	width: 13px;
	height: 12px;

	content: "";
	cursor: pointer;
	transform: translateY(-50%);

	background-image: url("../img/icon-heart.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.photos__liked {
	font-size: 12px;
	line-height: 24px;

	text-transform: uppercase;

	color: #d22856;
}

.photos__wrapper {
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	max-width: 280px;
	margin: 0 auto;

	-ms-flex-direction: column;
}

.download {
	background-color: #f2f2f2;
}

.download__container {
	padding-top: 20px;
}

.download__picture {
	width: 280px;
	margin: 0 auto;
}

.download__tools {
	position: relative;

	display: -ms-flexbox;
	display: flex;
	overflow: hidden;

	padding-top: 36px;
	padding-bottom: 67px;

	align-items: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.download__tools::after {
	position: absolute;
	z-index: 3;
	bottom: 0;

	display: block;

	width: 300%;
	height: 2px;

	content: "";

	background-color: #dddfe0;
}

.download__checkbox {
	display: none;
}

.download__label--fill {
	margin-right: 40px;
	margin-left: 34px;
}

.download__svg {
	fill: #b5b9be;
}

.download__svg:hover {
	fill: #8d949b;
}

.download__svg--crop {
	width: 48px;
	height: 44px;
}

.download__svg--fill {
	width: 48px;
	height: 43px;
}

.download__svg--contrast {
	width: 48px;
	height: 32px;
}

.download__bar {
	position: absolute;
	bottom: 36px;
	left: 50%;

	display: none;

	width: 240px;
	height: 2px;

	transform: translateX(-50%);

	background-color: #283645;
}

.download__toggle {
	position: absolute;
	z-index: 2;
	top: 50%;

	display: block;

	width: 10px;
	height: 10px;

	cursor: pointer;
	transform: translateY(-50%);

	border: 2px solid #d22856;
	border-radius: 50%;
	background-color: #ffffff;
}

.download__toggle:active {
	background-color: #d22856;
}

.download__toggle--crop {
	left: 30px;
}

.download__toggle--fill {
	left: 60px;
}

.download__toggle--contrast {
	left: 100px;
}

.download__btn-wrapper {
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	max-width: 280px;
	margin: 0 auto;
	padding-top: 37px;
	padding-bottom: 41px;

	-ms-flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.download__btn {
	margin-bottom: 12px;
}

.download__btn:last-child {
	margin-bottom: 0;
}

.download__checkbox:checked + .download__label .download__svg {
	fill: #d22856;
}

.download__checkbox:checked + .download__label .download__bar {
	display: block;
}

@media (min-width: 320px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 320px) and (min-resolution: 1.5dppx) {
	.promo {
		background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
	}

	.intro {
		background-image: url("../img/bg-back-mobile@2x.jpg");
	}
}

@media (min-width: 700px) {
	.page-header__container {
		max-width: 620px;
	}

	.page-header {
		margin-bottom: -110px;
	}

	.page-header__container {
		min-height: 109px;
	}

	.logo {
		height: 40px;
	}

	.logo__icon--mobile {
		display: none;
	}

	.logo__icon--tablet-pink {
		position: absolute;

		display: block;
	}

	.logo__icon--tablet {
		display: block;
	}

	.logo__icon--tablet:hover {
		opacity: 0;
	}

	.promo__container {
		max-width: 620px;
	}

	.promo {
		background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
		background-position: 45% bottom, top center;
		background-size: auto 545px, cover;
	}

	.promo__container {
		padding-top: 202px;
		padding-bottom: 110px;
	}

	.store__container {
		padding: 0;
	}

	.store__title {
		display: block;

		padding-bottom: 31px;
	}

	.store__list {
		padding-top: 42px;
		padding-bottom: 31px;
	}

	.store__text {
		font-size: 18px;
	}

	.advantages__heading {
		max-width: 620px;
	}

	.advantages__list {
		max-width: 620px;
	}

	.advantages__diagram {
		max-width: 620px;
	}

	.advantages__header {
		padding-top: 49px;
		padding-bottom: 45px;
	}

	.advantages__header::after {
		height: 54px;

		background-size: 100% 54px;
	}

	.advantages__title--diagram {
		padding-right: 20%;
		padding-left: 310px;
	}

	.advantages__heading {
		font-size: 40px;
		line-height: 48px;

		margin-bottom: 0;
	}

	.advantages__diagram {
		display: block;
	}

	.advantages__item {
		overflow: visible;

		margin-bottom: 35px;
		padding-left: 310px;

		text-align: left;
	}

	.advantages__item--friend {
		padding-bottom: 0;
	}

	.advantages__pic {
		max-width: 100%;
	}

	.advantages__pic--friend {
		left: 0;

		transform: translateX(0);
	}

	.advantages__list {
		position: relative;

		min-height: 487px;
		padding-top: 77px;
		padding-bottom: 43px;
	}

	.reviews__container {
		max-width: 620px;
	}

	.reviews::after {
		height: 54px;

		background-size: 100% 54px;
	}

	.reviews__container {
		padding-top: 12px;
		padding-bottom: 10px;
	}

	.reviews__items {
		margin-bottom: 26px;
	}

	.reviews__item {
		    flex-direction: column;

		-ms-flex-direction: column;
	}

	.reviews__author {
		font-size: 20px;

		padding-bottom: 0;
	}

	.reviews__author-info {
		font-size: 14px;

		display: block;

		color: #283645;
	}

	.reviews__text {
		font-size: 18px;

		margin-bottom: 36px;
	}

	.price__table {
		position: static;

		width: 90.5%;

		transform: none;
	}

	.price__cost {
		font-size: 18px;
	}

	.price__header {
		font-size: 16px;
		line-height: 28px;

		width: 25%;
		padding-top: 13px;
		padding-bottom: 9px;
	}

	.price__header--empty {
		display: block;
	}

	.price__header--hot::before {
		top: 3px;
		left: -33px;
	}

	.price__option {
		width: 25%;
		padding-top: 6px;
		padding-bottom: 9px;
		padding-left: 15px;
	}

	.price__option--mobile {
		display: table-cell;
	}

	.price__option--inner {
		font-size: 0;
	}

	.price__option--check::before {
		right: 50%;

		transform: translateY(-50%) translateX(50%);
	}

	.price__option--uncheck::before {
		right: 50%;

		transform: translateY(-47%) translateX(50%);
	}

	.price__toggles {
		display: none;
	}

	.contacts__container {
		max-width: 620px;
	}

	.contacts__container {
		    flex-direction: row;

		padding-top: 44px;

		-ms-flex-direction: row;
		-ms-flex-pack: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		justify-content: center;
	}

	.contacts__heading {
		font-size: 40px;
		line-height: 48px;

		margin-bottom: 41px;
	}

	.contacts__text {
		line-height: 30px;
	}

	.contacts__item {
		margin-bottom: 42px;
	}

	.contacts__item--half {
		width: 50%;
	}

	.map::before {
		height: 72px;

		background-size: 100% 72px;
	}

	.map__canvas {
		min-height: 378px;
	}

	.page-footer__container {
		max-width: 620px;
	}

	.page-footer {
		display: block;
	}

	.page-footer__container {
		    flex-direction: row;

		-ms-flex-direction: row;
	}

	.social-btn {
		margin-top: 0;
	}

	.copyright {
		margin-top: 0;
	}

	.contest-form__heading {
		max-width: 620px;
	}

	.contest-form__container {
		max-width: 280px;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	.contest-form:before {
		bottom: 65px;
		left: 68.8%;
	}

	.contest-form:after {
		bottom: 65px;
		left: 70.6%;
	}

	.contest-form__info {
		font-size: 18px;

		padding-right: 60px;
		padding-left: 60px;
	}

	.contest-form__heading {
		padding-top: 92px;
		padding-bottom: 71px;
	}

	.contest-form__group {
		position: relative;

		padding-right: 0;
		padding-left: 0;

		background-color: #ffffff;
	}

	.contest-form__title {
		position: absolute;
		top: -10px;
		left: 50%;

		padding-top: 0;
		padding-right: 25px;
		padding-bottom: 0;
		padding-left: 25px;

		transform: translateX(-50%);
		white-space: nowrap;

		background-color: #ffffff;
	}

	.contest-form__group--name {
		padding-bottom: 64px;

		-ms-flex-order: 1;
		order: 1;
	}

	.contest-form__group--app {
		margin-bottom: 65px;
		padding-top: 56px;
		padding-bottom: 14px;

		-ms-flex-order: 2;
		order: 2;
	}

	.contest-form__group--contact {
		margin-bottom: 65px;
		padding-top: 45px;
		padding-bottom: 36px;

		-ms-flex-order: 3;
		order: 3;
	}

	.contest-form__group--achiv {
		margin-bottom: 65px;
		padding-top: 56px;
		padding-bottom: 1px;

		-ms-flex-order: 4;
		order: 4;
	}

	.contest-form__group--emotions {
		padding-top: 45px;

		-ms-flex-order: 5;
		order: 5;
	}

	.contest-form__textarea {
		height: 197px;
	}

	.contest-form__group--border {
		padding-right: 60px;
		padding-left: 60px;

		border-width: 2px;
		border-style: solid;
		border-color: #e5e5e5;
	}

	.contest-form__input-wrapper {
		display: -ms-flexbox;
		display: flex;

		margin-bottom: 53px;

		align-items: center;
		-ms-flex-align: center;
	}

	.contest-form__input-wrapper:last-child {
		margin-bottom: 0;
	}

	.contest-form__input-wrapper--tel {
		position: relative;

		display: -ms-flexbox;
		display: flex;
		    flex-direction: column-reverse;

		margin-bottom: 39px;

		align-items: flex-start;
		-ms-flex-align: start;
		-ms-flex-direction: column-reverse;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.contest-form__input-wrapper--tel::before {
		position: absolute;
		top: 0;
		right: 0;

		display: block;

		width: 63px;
		height: 63px;

		content: "";

		background-color: #e5e5e5;
		background-image: url("../img/icon-phone.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 33% 33%;
	}

	.contest-form__input-wrapper--mail {
		position: relative;

		display: -ms-flexbox;
		display: flex;
		    flex-direction: column-reverse;

		align-items: flex-start;
		-ms-flex-align: start;
		-ms-flex-direction: column-reverse;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.contest-form__input-wrapper--mail::before {
		position: absolute;
		top: 0;
		right: 0;

		display: block;

		width: 63px;
		height: 63px;

		content: "";

		background-color: #e5e5e5;
		background-image: url("../img/icon-mail.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 33% 33%;
	}

	.contest-form__label {
		padding-left: 55px;
	}

	.contest-form__label--name {
		padding-right: 20px;
		padding-left: 0;
	}

	.contest-form__label--pink {
		padding-bottom: 0;
		padding-left: 0;
	}

	.contest-form__input--name {
		flex-grow: 1;
		-ms-flex-positive: 1;
	}

	.contest-form__btn {
		width: 300px;
		margin: 0;
		margin-top: 67px;

		-ms-flex-order: 6;
		order: 6;
	}

	.intro__container {
		max-width: 620px;
	}

	.intro {
		background-image: url("../img/bg-back-tablet@1x.jpg");
		background-size: auto 725px;
	}

	.intro__container {
		min-height: 440px;
		padding-top: 100px;
	}

	.intro__heading {
		font-size: 50px;
		line-height: 60px;
	}

	.photos__heading {
		max-width: 620px;
	}

	.photos__footing {
		max-width: 620px;
	}

	.photos__description--full {
		max-width: 620px;
	}

	.photos__wrapper {
		max-width: 620px;
	}

	.download__btn-wrapper {
		max-width: 620px;
	}

	.photos__wrapper {
		    flex-direction: row;

		-ms-flex-direction: row;
		-ms-flex-pack: justify;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		justify-content: space-between;
	}

	.photos__heading {
		padding-top: 92px;
		padding-bottom: 76px;
	}

	.photos__footing {
		padding-top: 45px;
		padding-bottom: 69px;
	}

	.photos__title {
		font-size: 18px;
	}

	.photos__item {
		width: 300px;
		min-height: 455px;
		padding-bottom: 23px;
	}

	.photos__item--full {
		width: 100%;
		height: auto;
		margin-bottom: 27px;
	}

	.photos__item--full:before {
		top: 57px;
		right: 31px;
	}

	.photos__author {
		margin-top: 24px;
	}

	.photos__author--full {
		align-self: flex-start;
		-ms-flex-item-align: start;
		-ms-flex-order: 1;
		order: 1;
	}

	.photos__like {
		padding: 0;
	}

	.photos__like--full {
		position: relative;
		top: 24px;

		width: auto;
		padding: 0;
		padding-right: 31px;

		align-self: flex-start;
		-ms-flex-item-align: start;
		-ms-flex-order: 2;
		order: 2;
	}

	.photos__like {
		margin-top: 12px;
	}

	.photos__like:before {
		top: 50%;
		left: 93.5%;
	}

	.photos__like--full {
		margin-top: 0;
	}

	.photos__like--full:before {
		left: 106px;
	}

	.photos__text--full {
		-ms-flex-order: 3;
		order: 3;
	}

	.photos__description {
		padding-right: 28px;
		padding-left: 28px;
	}

	.photos__description--full {
		    flex-direction: row;

		padding-right: 28px;
		padding-bottom: 25px;
		padding-left: 28px;

		-ms-flex-direction: row;
		-ms-flex-pack: justify;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		justify-content: space-between;
	}

	.download__picture {
		width: 300px;
		margin: 0;
	}

	.download__container {
		max-width: 280px;
		margin: 0 auto;
		padding-top: 57px;
	}

	.download__form {
		display: -ms-flexbox;
		display: flex;

		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.download__instruments {
		width: 275px;
	}

	.download__tools {
		    flex-direction: column;

		padding-top: 6px;

		align-items: flex-start;
		-ms-flex-align: start;
		-ms-flex-direction: column;
	}

	.download__tools::after {
		display: none;
	}

	.download__label {
		position: relative;

		width: 100%;
	}

	.download__label::after {
		position: absolute;
		z-index: 3;
		bottom: -18px;

		display: block;

		width: 100%;
		height: 2px;

		content: "";

		background-color: #dddfe0;
	}

	.download__label--fill {
		margin: 0;
		margin-top: 43px;
		margin-bottom: 34px;
	}

	.download__svg--crop {
		width: 29px;
		height: 25px;
	}

	.download__svg--fill {
		width: 29px;
		height: 25px;
	}

	.download__svg--contrast {
		width: 32px;
		height: 16px;
	}

	.download__svg {
		fill: #d22856;
	}

	.download__svg:hover {
		fill: #d22856;
	}

	.download__bar {
		bottom: 55%;
		left: 156px;

		display: block;

		width: 202px;

		transform: translateY(-50%) translateX(-50%);
	}

	.download__btn-wrapper {
		padding-top: 20px;
		padding-bottom: 54px;
	}

	.download__btn {
		margin-bottom: 24px;
	}
}

@media (min-width: 700px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 700px) and (min-resolution: 1.5dppx) {
	.promo {
		background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
	}

	.intro {
		background-image: url("../img/bg-back-tablet@2x.jpg");
	}
}

@media (min-width: 700px) and (min-width: 700px) {
	.contest-form__container {
		max-width: 620px;
	}

	.download__container {
		max-width: 620px;
	}
}

@media (min-width: 700px) and (min-width: 1200px) {
	.contest-form__container {
		max-width: 940px;
	}

	.download__container {
		max-width: 940px;
	}
}

@media (min-width: 1200px) {
	.btn--round {
		font-size: 21px;
	}

	.page-header__container {
		max-width: 940px;
	}

	.page-header__container::after {
		display: table;
		clear: both;

		content: "";
	}

	.page-header--toggled {
		border-style: none;
		background-color: rgba(0, 0, 0, 0.3);
	}

	.hamburger-menu {
		display: none;
	}

	.menu {
		position: static;

		display: block;
		float: right;
	}

	.menu__list {
		    flex-direction: row;

		-ms-flex-direction: row;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.menu__item {
		margin-left: 10%;
		padding-top: 40px;
		padding-bottom: 39px;

		border-style: none;
		background-color: transparent;
	}

	.menu__link {
		font-weight: normal;
		line-height: 18px;

		padding-bottom: 5px;

		text-transform: none;
	}

	.menu__link:hover {
		color: #ffffff;
		border-bottom: 2px solid #ffffff;
	}

	.menu__link--active:hover {
		color: #d22856;
		border-bottom: 2px solid #d22856;
	}

	.menu__link:active {
		opacity: 0.3;
		border-style: none;
	}

	.logo__icon--tablet {
		display: none;
	}

	.logo__icon--tablet-pink {
		display: none;
	}

	.logo__icon--footer_t {
		display: none;
	}

	.logo__icon--footer_d {
		display: block;
	}

	.logo__icon--desktop-pink {
		position: absolute;

		display: block;
	}

	.logo__icon--desktop {
		display: block;
	}

	.logo__icon--desktop:hover {
		opacity: 0;
	}

	.promo__container {
		max-width: 940px;
	}

	.promo {
		background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
		background-position: bottom 0 right 150px, top center;
		background-size: auto 645px, cover;
	}

	.promo__container {
		padding-top: 219px;
		padding-bottom: 125px;
	}

	.store__title {
		font-size: 50px;
		line-height: 59px;

		padding-right: 9%;
		padding-bottom: 54px;
		padding-left: 9%;
	}

	.store__list {
		padding-top: 64px;
		padding-bottom: 46px;
	}

	.advantages__heading {
		max-width: 940px;
	}

	.advantages__list {
		max-width: 940px;
	}

	.advantages__diagram {
		max-width: 940px;
	}

	.advantages {
		background-color: #f2f2f2;
	}

	.advantages__header {
		padding-top: 67px;
		padding-bottom: 75px;
	}

	.advantages__header::after {
		height: 95px;

		background-size: 100% 95px;
	}

	.advantages__heading {
		font-size: 50px;
		line-height: 60px;
	}

	.advantages__list {
		    flex-direction: row;

		padding-top: 0;
		padding-left: 0;

		-ms-flex-direction: row;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.advantages__item {
		width: 31.3%;
		margin-bottom: 0;
		padding: 0;

		text-align: center;
	}

	.advantages__pic {
		position: static;

		display: block;

		margin-bottom: 56px;
	}

	.advantages__diagram {
		padding-top: 107px;
		padding-bottom: 112px;

		background-color: #f2f2f2;
	}

	.advantages__diagram::before {
		font-size: 120px;
		line-height: 186px;

		top: 17px;

		width: 298px;
		height: 389px;

		background-position: 50% 55%, center 12%;
		background-size: 253px 253px, 298px 345px;
	}

	.advantages__title {
		font-size: 30px;
		line-height: 30px;

		margin-bottom: 24px;
		padding-right: 30px;
		padding-left: 30px;
	}

	.advantages__title--diagram {
		padding-top: 10px;
		padding-left: 367px;
	}

	.advantages__description {
		font-size: 18px;
		line-height: 30px;

		padding-right: 25px;
		padding-left: 25px;
	}

	.advantages__description--diagram {
		padding-bottom: 32px;
		padding-left: 367px;
	}

	.advantages__more {
		font-size: 18px;
		line-height: 30px;

		padding-left: 367px;
	}

	.reviews__container {
		max-width: 940px;
	}

	.reviews::before {
		position: absolute;
		top: 18%;
		left: 50.2%;

		display: block;

		width: 79px;
		height: 63px;

		content: "";
		transform: translateX(-50%);

		opacity: 0.1;
		background-image: url("../img/icon-quotes.svg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.reviews::after {
		height: 95px;

		background-size: 100% 95px;
	}

	.reviews__container {
		position: relative;

		padding-top: 185px;
	}

	.reviews__author {
		font-size: 24px;
	}

	.reviews__author-info {
		font-size: 18px;
	}

	.reviews__text {
		margin-bottom: 37px;
		padding-right: 120px;
		padding-left: 120px;

		quotes: none;
	}

	.reviews__toggles {
		display: none;
	}

	.reviews__controls {
		position: absolute;
		top: 52%;
		left: 0;

		display: -ms-flexbox;
		display: flex;

		width: 100%;
		max-width: 280px;
		height: 41px;
		margin: 0 auto;

		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.reviews__control {
		display: block;

		width: 22px;
		height: 41px;

		cursor: pointer;

		opacity: 0.3;
		background-repeat: no-repeat;
	}

	.reviews__control--prev {
		background-image: url("../img/icon-review-arrow-left.svg");
	}

	.reviews__control--next {
		background-image: url(../img/icon-review-arrow-right.svg);
	}

	.price {
		padding-top: 154px;
		padding-bottom: 63px;
	}

	.price__table {
		width: 940px;
	}

	.price__header {
		font-size: 18px;
		line-height: 30px;

		padding-top: 17px;
		padding-bottom: 18px;
	}

	.price__header--hot::before {
		top: 12px;
		left: -30px;
	}

	.price__cost {
		font-size: 24px;
	}

	.price__option {
		padding-top: 13px;
		padding-bottom: 16px;
		padding-left: 22px;
	}

	.price__option--mobile {
		font-size: 18px;
	}

	.contacts__container {
		max-width: 940px;
	}

	.contacts__container {
		padding-top: 64px;
		padding-bottom: 6px;
	}

	.contacts__title {
		margin-bottom: 18px;
	}

	.contacts__heading {
		font-size: 50px;
		line-height: 60px;

		margin-bottom: 55px;
	}

	.contacts__item {
		width: 33.33%;
	}

	.contacts__item:nth-child(3) {
		-ms-flex-order: 4;
		order: 4;
	}

	.contacts__item--adress {
		-ms-flex-order: 3;
		order: 3;
	}

	.map::before {
		height: 103px;

		background-size: 100% 103px;
	}

	.map__canvas {
		min-height: 502px;
	}

	.page-footer__container {
		max-width: 940px;
	}

	.page-footer__container {
		padding-top: 73px;
	}

	.copyright {
		font-size: 18px;
	}

	.contest-form__heading {
		max-width: 940px;
	}

	.contest-form:before {
		bottom: 15px;
		left: 63%;
	}

	.contest-form:after {
		bottom: 15px;
		left: 64%;
	}

	.contest-form__heading {
		padding-bottom: 78px;
	}

	.contest-form__container {
		    flex-direction: row;

		padding-bottom: 0;

		-ms-flex-direction: row;
		-ms-flex-pack: justify;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		justify-content: space-between;
	}

	.contest-form__group--name {
		width: 46.4%;
		padding-top: 6px;
		padding-bottom: 65px;
	}

	.contest-form__group--app {
		width: 46%;
		margin-bottom: 65px;
		padding-top: 58px;
		padding-right: 0;
		padding-left: 76px;
	}

	.contest-form__group--contact {
		    flex-direction: row;

		width: 100%;
		margin-bottom: 65px;
		padding-top: 42px;
		padding-bottom: 23px;

		-ms-flex-direction: row;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.contest-form__group--achiv {
		    flex-direction: row;

		width: 100%;
		margin-bottom: 65px;
		padding-top: 56px;
		padding-right: 10px;
		padding-bottom: 8px;

		-ms-flex-direction: row;
		-ms-flex-pack: justify;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		justify-content: space-between;
	}

	.contest-form__label--checkbox {
		width: 270px;
	}

	.contest-form__label--checkbox:nth-child(3n-2) {
		width: 245px;
	}

	.contest-form__label--checkbox:nth-child(3n) {
		margin-right: 15px;
	}

	.contest-form__group--emotions {
		width: 100%;
		padding-top: 42px;
	}

	.contest-form__input-wrapper--mail {
		width: 45%;
	}

	.contest-form__input-wrapper--tel {
		width: 45%;
		margin-bottom: 0;
	}

	.contest-form__textarea {
		height: 128px;
		margin-bottom: 43px;
	}

	.contest-form__btn {
		margin-top: 65px;
	}

	.intro__container {
		max-width: 940px;
	}

	.intro {
		background-image: url("../img/bg-back-desktop@1x.jpg");
		background-size: auto 850px;
	}

	.intro__container {
		min-height: 394px;
		padding-top: 71px;
	}

	.photos__heading {
		max-width: 940px;
	}

	.photos__footing {
		max-width: 940px;
	}

	.photos__description--full {
		max-width: 940px;
	}

	.photos__wrapper {
		max-width: 940px;
	}

	.download__btn-wrapper {
		max-width: 940px;
	}

	.photos__heading {
		padding-bottom: 88px;
	}

	.photos__item--full:before {
		top: 54px;
		right: 10.1%;
	}

	.photos__description--full {
		padding-bottom: 24px;
	}

	.photos__item {
		min-height: 555px;
		margin-bottom: 53px;
	}

	.photos__item--full {
		margin-bottom: 27px;
	}

	.download__instruments {
		width: 410px;
	}

	.download__btn-wrapper {
		    flex-direction: row;

		-ms-flex-direction: row;
	}

	.photos__footing {
		padding-top: 6px;
		padding-bottom: 66px;
	}

	.download {
		background-color: #ffffff;
	}

	.download__container {
		padding-right: 60px;
		padding-bottom: 49px;
		padding-left: 80px;

		background-color: #f2f2f2;
	}

	.download__btn {
		width: 183px;
		margin-bottom: 0;
	}

	.download__svg--crop {
		width: 44px;
		height: 44px;
	}

	.download__svg--fill {
		width: 44px;
		height: 43px;
	}

	.download__svg--contrast {
		width: 44px;
		height: 32px;
	}

	.download__label {
		height: 52px;
		margin-top: 0;
		margin-bottom: 22px;
	}

	.download__label::after {
		bottom: -2px;
	}

	.download__label--fill {
		margin-bottom: 18px;
	}

	.download__tools {
		padding-top: 0;
	}

	.download__bar {
		bottom: 60%;
		left: 236px;

		width: 288px;
	}

	.download__btn-wrapper {
		padding-top: 60px;
		padding-bottom: 8px;
	}
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
	.promo {
		background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
	}

	.intro {
		background-image: url("../img/bg-back-desktop@2x.jpg");
	}
}

@media (min-width: 1200px) and (min-width: 700px) {
	.reviews__controls {
		max-width: 620px;
	}
}

@media (min-width: 1200px) and (min-width: 1200px) {
	.reviews__controls {
		max-width: 940px;
	}
}
