<section class="advantages">
	<header class="advantages__header">
		<h2 class="advantages__heading">Устали от серости мегаполиса?</h2>
		<h2 class="advantages__heading">Нам есть, что вам<br>предложить!</h2>
	</header>
	<div class="advantages__inner">
		<ul class="advantages__list">
			<li class="advantages__item  advantages__item--mood">
				<h3 class="advantages__title">Поднимает настроение</h3>
				<p class="advantages__description">Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!</p>
			</li>
			<li class="advantages__item  advantages__item--world">
				<h3 class="advantages__title">Меняет мир вокруг</h3>
				<p class="advantages__description">Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект</p>
			</li>
			<li class="advantages__item  advantages__item--friend">
				<h3 class="advantages__title">Заводит новых друзей</h3>
				<p class="advantages__description">Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых</p>
			</li>
		</ul>
	</div>
	<div class="advantages__diagram">
			<h3 class="advantages__title  advantages__title--diagram">Эффект на 24 часа!</h3>
			<p class="advantages__description  advantages__description--diagram">Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!</p>
			<a href="#" class="advantages__more">Узнать больше об исследовании</a>
	</div>
</section>
