<section class="advantages">
	<header class="advantages__header">
		<h2 class="advantages__heading">Устали от серости мегаполиса?</h2>
		<h2 class="advantages__heading">Нам есть, что вам<br>предложить!</h2>
	</header>
	<div class="advantages__inner">
		<ul class="advantages__list">
			<li class="advantages__item  advantages__item--mood">
				<picture>
					<source media="(min-width: 1200px)" srcset="img/iphone-screen-1-desktop@1x.png 1x, img/iphone-screen-1-desktop@2x.png 2x">
					<source media="(min-width: 700px)" srcset="img/iphone-screen-1-tablet@1x.png 1x, img/iphone-screen-1-tablet@2x.png 2x">
					<img class="advantages__pic  advantages__pic--mood" src="img/iphone-screen-mobile@1x.png" srcset="img/iphone-screen-mobile@2x.png 2x" alt="Скриншот 1">
				</picture>
				<h3 class="advantages__title">Поднимает настроение</h3>
				<p class="advantages__description">Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!</p>
			</li>
			<li class="advantages__item  advantages__item--world">
				<picture>
					<source media="(min-width: 1200px)" srcset="img/iphone-screen-2-desktop@1x.png 1x, img/iphone-screen-2-desktop@2x.png 2x">
					<source media="(min-width: 700px)" srcset="img/iphone-screen-2-tablet@1x.png 1x, img/iphone-screen-2-tablet@2x.png 2x">
					<img class="advantages__pic  advantages__pic--world" src="img/iphone-screen-mobile@1x.png" srcset="img/iphone-screen-mobile@2x.png 2x" alt="Скриншот 2">
				</picture>
				<h3 class="advantages__title">Меняет мир вокруг</h3>
				<p class="advantages__description">Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект</p>
			</li>
			<li class="advantages__item  advantages__item--friend">
				<picture>
					<source media="(min-width: 1200px)" srcset="img/iphone-screen-3-desktop@1x.png 1x, img/iphone-screen-3-desktop@2x.png 2x">
					<source media="(min-width: 700px)" srcset="img/iphone-screen-3-tablet@1x.png 1x, img/iphone-screen-3-tablet@2x.png 2x">
					<img class="advantages__pic  advantages__pic--friend" src="img/iphone-screen-mobile@1x.png" srcset="img/iphone-screen-mobile@2x.png 2x" alt="Скриншот 3">
				</picture>
				<h3 class="advantages__title">Заводит новых друзей</h3>
				<p class="advantages__description">Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых</p>
			</li>
		</ul>
	</div>
	<div class="advantages__diagram">
			<h3 class="advantages__title  advantages__title--diagram">Эффект на 24 часа!</h3>
			<p class="advantages__description  advantages__description--diagram">Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!</p>
			<a href="#" class="advantages__more">Узнать больше об исследовании</a>
	</div>
</section>
