<section class="contacts">
	<div class="contacts__container">
		<h2 class="contacts__heading">Остались вопросы?<br>Свяжитесь с нами!</h2>
		<div class="contacts__item  contacts__item--half">
			<p class="contacts__title">Звоните:</p>
			<a class="contacts__text" href="tel:+78125556666">+7 (812) 555-66-66</a>
		</div>
		<div class="contacts__item  contacts__item--half">
			<p class="contacts__title">Пишите:</p>
			<a class="contacts__text" href="mailto:mail@htmlacademy.ru">mail@htmlacademy.ru</a>
		</div>
		<div class="contacts__item  contacts__item--adress">
			<p class="contacts__title">Приезжайте в гости:</p>
			<span class="contacts__text">ул. Большая<br>Конюшенная, 19/8</span>
		</div>
	</div>
	<div class="map">
		<div class="map__canvas" id="map-canvas"></div>
	</div>
</section>
