<footer class="page-footer">
	<div class="page-footer__container">
		<a href="#" class="logo">
			<svg class="logo__icon  logo__icon--footer_t"><use xlink:href="img/symbol-defs.svg#logo-pink-blue-mobile"></use></svg>
			<svg class="logo__icon  logo__icon--footer_d"><use xlink:href="img/symbol-defs.svg#logo-pink-blue-desktop"></use></svg>
		</a>
		<div class="social-btn">
			<a class="social-btn__icon  social-btn__icon--tw" href="#">Twitter</a>
			<a class="social-btn__icon  social-btn__icon--fb" href="#">Facebook</a>
			<a class="social-btn__icon  social-btn__icon--yt" href="#">Youtube</a>
		</div>
		<div class="copyright">Разаработано <a class="copyright__icon" href="https://htmlacademy.ru/">HTML&nbsp;Academy</a></div>
	</div>
</footer>
