<section class="price">
	<h2 class="price__title  visually-hidden">Цены</h2>
	<table class="price__table">
		<tbody>
			<tr>
				<th class="price__header  price__header--empty"></th>
				<th class="price__header">База<br><span class="price__cost">1,99 USD</span>
				</th>
				<th class="price__header  price__header--hot">Стандарт<br><span class="price__cost">3,99 USD</span></th>
				<th class="price__header">Анлим<br><span class="price__cost">9,99 USD</span></th>
			</tr>
			<tr>
				<td class="price__option  price__option--mobile">Розовый фильтр</td>
				<td class="price__option  price__option--inner  price__option--check">Розовый фильтр</td>
				<td class="price__option  price__option--inner  price__option--check">Розовый фильтр</td>
				<td class="price__option  price__option--inner  price__option--check">Розовый фильтр</td>
			</tr>
			<tr>
				<td class="price__option  price__option--mobile">Смайлики</td>
				<td class="price__option  price__option--inner  price__option--uncheck">Смайлики</td>
				<td class="price__option  price__option--inner  price__option--check">Смайлики</td>
				<td class="price__option  price__option--inner  price__option--check">Смайлики</td>
			</tr>
			<tr>
				<td class="price__option  price__option--mobile">Комментарии</td>
				<td class="price__option  price__option--inner  price__option--uncheck">Комментарии</td>
				<td class="price__option  price__option--inner  price__option--uncheck">Комментарии</td>
				<td class="price__option  price__option--inner  price__option--check">Комментарии</td>
			</tr>
		</tbody>
	</table>
	<div class="price__toggles  slider__toggles">
		<label class="price__toggle  slider__toggle" for="reviews-btn-1" ></label>
		<label class="price__toggle  slider__toggle  slider__toggle--active" for="reviews-btn-2" ></label>
		<label class="price__toggle  slider__toggle" for="reviews-btn-3"></label>
	</div>
</section>
