<section class="promo">
	<div class="promo__container">
		<div class="store">
			<div class="store__container">
				<h2 class="store__title">Взгляните на жизнь иначе!</h2>
				<a href="#" class="btn  btn--round  btn--white">Скачать приложение</a>
				<ul class="store__list">
					<li class="store__item">
						<a class="store__link  store__link--itunes" href="https://www.apple.com/itunes/" target="_blank"></a>
					</li>
					<li class="store__item">
						<a class="store__link  store__link--gplay" href="https://play.google.com/store/apps" target="_blank"></a>
					</li>
					<li class="store__item">
						<a class="store__link  store__link--winstore" href="https://www.microsoft.com/en-in/store/apps/windows-phone" target="_blank"></a>
					</li>
				</ul>
				<p class="store__text">Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8</p>
			</div>
		</div>
	</div>
</section>
