.btn {
	display: block;

	&--round {
		font-size: 21px;
		line-height: 18px;
		font-weight: bold;
		padding-top: 18px;
		padding-bottom: 18px;
		border-width: 3px;
		border-style: solid;
		border-bottom-left-radius: 50px;
		border-top-left-radius: 50px;
		border-bottom-right-radius: 50px;
		border-top-right-radius: 50px;
	}

	&--white {
		color: #fff;
		border-color: #fff;
	}

	&--pink {
		color: #d22856;
		border-color: #d22856;
	}

	&--grey {
		color: #dddfe0;
		border-color: #dddfe0;
	}
}
