.page-header {
	background-color: @bg-shadow;
	position: relative;
	z-index: 1000;
	margin-bottom: -66px;


	&__container {
		.container();
		display: flex;
		align-items: center;
		min-height: 66px;
		justify-content: space-between;
		border-bottom: 1px solid transparent;
	}

	&--toggled {
		background-color: @nav-color;
		border-color: #000;
	}
}

.hamburger-menu {
	height: 24px;
	cursor: pointer;

	&__icon {

		&--ham {
			width: 50px;
			height: 24px;
			fill: #fff;
		}

		&--cross {
			width: 24px;
			height: 23px;
			fill: #fff;
		}
		&--hidden {
			display: none;
		}

		&:hover {
			fill: #d22856;
		}

		&:active {
			opacity: 0.3;
		}
	}
}

.menu {
	width: 100%;
	position: absolute;
	top: 101%;
	left: 0;
	display: none;

	&--open {
		display: block;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #485461;
		border-bottom: 1px solid #000;
		text-align: center;
		background-color: @nav-color;
	}

	&__link {
		color: #fff;
		text-transform: uppercase;
		line-height: 32px;
		font-weight: bold;

		&:hover {
			color: #d22856;
		}

		&:active {
			opacity: 0.3;
		}
	}
}

@media @tablet-widths {
	.page-header {
		margin-bottom: -110px;
	}

	.page-header__container {
		min-height: 110px;
	}
}

@media @desktop-widths {
	.page-header__container {
		.clearfix();
	}

	.page-header--toggled {
		background-color: @bg-shadow;
		border-style: none;
	}

	.hamburger-menu {
		display: none;
	}

	.menu {
		// width: 670px;
		float: right;
		position: static;
		display: block;

		&__list {
			flex-direction: row;
			justify-content: flex-end;
		}

		&__item {
			background-color: transparent;
			border-style: none;
			margin-left: 10%;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		&__link {
			line-height: 18px;
			font-weight: normal;
			text-transform: none;
			padding-bottom: 5px;

			&:hover {
				border-bottom: 2px solid #fff;
				color: #fff;
			}

			&--active:hover {
				border-bottom: 2px solid #d22856;
				color: #d22856;
			}

			&:active {
				opacity: 0.3;
				border-style: none;
			}
		}
	}
}
