@bg-primary: #1d2631;
@bg-shadow: rgba(0, 0, 0, 0.3);
@bg-grey: #f2f2f2;
@primary-color: #d22856;
@secondary-color: #283645;
@nav-color: #1d2632;
@svg-icon-count: 3;

@mobile-widths: ~"(min-width: 320px)";
@tablet-widths: ~"(min-width: 700px)";
@desktop-widths: ~"(min-width: 1200px)";

@retina : ~"(min-resolution: 1.5dppx)";
